.container{
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.50) 21.35%, rgba(0, 0, 0, 0.00) 100%);
    background-image: url(../../assets/advantagebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 375px;
    position: relative;
    color: white;
    padding-top:4rem;
}
.head{
    color: #FFF;
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

font-size: 35px;
font-style: italic;
font-weight: 800;

}
.box{
    border-radius: 17px 17px 0px 0px;
    /* background: #020202; */
    height: 188px;
    width: 80%;
    position: absolute;
    bottom: 0;
    right: 10%;
    display: flex;
    justify-content: space-around;
    background: rgba(16, 16, 16, 0.30);
box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.10) inset, -1px -1px 2px 0px rgba(255, 255, 255, 0.10) inset;
backdrop-filter: blur(5px);
}
.v1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.imgdiv{
    background-color: #2A2A2A;
    border-radius: 50%;
    padding: 2% 2%;
    display: flex;
    align-items: center;justify-content: center;
    width: 50px;height: 50px;
    fill: #101010;
box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.10) inset, -1px -1px 2px 0px rgba(255, 255, 255, 0.10) inset;
backdrop-filter: blur(5px);
}
.v1>span{
    color: var(--logo-color-1, #B3B3B3);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 80%;
}

@media screen and (max-width:786px){
    .container{
        width: 100%;
        height: 136px;
        padding-top: 1rem;
    }
    .head{
        font-size: 14px;
    }
    .box{
        width: 80%;
        height: 60px;
    }
    .imgdiv{
        width: 20px;
        height: 20px;
    }
    .imgdiv>img{
        width: 10px;
        height: 10px;
    }
    .v1>span{
        font-size: 6px;
    }
}