.container{
    background-color: rgb(11, 11, 11);
    color: antiquewhite;
    padding: 2% 8%;
    width: 100%;
}
.container>:nth-child(1){
    color: var(--logo-color-1, #B3B3B3);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    margin-bottom: 1.7rem;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
/* .content>img{
    width: 140px;
    height: 140px;

} */
.content>span{
    color: #E1E1E1;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.24px;
}
.slid{
   
    padding-left: 2%;
}