.container{
    background-color: rgb(0, 0, 0);
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 4%;
}
.divleft{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.8rem;
}
.leftbottom{
    display: flex;
    gap: 0.8rem;
}
.inp{
    width: 374.751px;
    height: 50.917px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #E5E5E5;
    border: none;
    outline: none;
    padding-left: 25px;
}
.subbtn{
    width: 130.348px;
height: 50.917px;
flex-shrink: 0;
border-radius: 10px;
background: #007AFF;
border: none;
color: #FFF;
font-size: 16px;
}
.subbtn:hover{
    color: #007AFF;
    background-color:black;
    border: 1px solid #007AFF;
    cursor: pointer;
}
.divright{
    padding: 3% 2%;
}
.divright>img{
    height: 248px;
    width: 100%;
}
::placeholder{
    font-size: 14px;
}

@media screen and (max-width:786px){
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 0.8rem;
    }
    .divleft{
        /* width: 45%; */
        text-align: center;
    }
    .divleft>span{
        font-size: 10px;
    }
   
   
    .inp{
      
        width: 90%;
height: 24.838px;
flex-shrink: 0;
/* border-radius: 10px; */
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
background: #E5E5E5;
border: none;
outline: none;
position: relative;
    }
    ::placeholder{
        font-size: 10px;
    }
    .rect{
        position: absolute;
       left: 89%;
       height: 25px;
        /* top: 0; */
    }
    .divright{
        /* width: 45%; */
        height: 110px;
    }
    .divright>img{
        height: 100px;
        width: 100%;
    }
    .leftbottom{
        position: relative;
    }
}