.container{
    background-color: black;
    color: white;
    display: flex;
    padding: 4% 8%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}
.container>:nth-child(1){
    color: var(--logo-color-1, #B3B3B3);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    margin-bottom: 1rem;
}

/* .swiperdiv{
    display: flex; 
    gap: 1rem; 
}  */
/* .swiperdiv{
    height: 200px;
} */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.content>img{
    width: 140px;
    height: 140px;

}
.content>span{
    color: #E1E1E1;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.24px;
}
@media screen and (max-width:451px){
    .content>img{
        width: 52px;
        height: 65px;
    }
    .content>span{
        font-size: 7px;
    }
}
@media  screen and (min-width: 452px) and (max-width: 786px){
    .content>img{
        width: 80px;
        height: 90px;
    }
    .content>span{
        font-size: 10px;
    }
}
@media  screen and (min-width: 786px) and (max-width: 1024px){
    .content>img{
        width: 96px;
        height: 100px;
    }
    .content>span{
        font-size: 10px;
    }
}
@media screen and (max-width:786px){
 .container>:nth-child(1){
    font-size:14px ;
 }
  
}
