.container{
    background: #121212;
    color: white;
    display: flex;
    padding: 2% 0%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}
.container>:nth-child(1){
    color: var(--logo-color-1, #B3B3B3);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    margin-bottom: 2rem;
   text-align: center;
   display: block;
}

/* .swiperdiv{
    display: flex; 
    gap: 1rem; 
}  */
.swiperdiv{
    height: 260px;
    width: 100%;
    padding: 0% 8%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
    
}
.content>img{
    width: 160px;
    height: 160px;

}
.content>img:hover{
    transform: scale(0.91);
    transition-duration: 1000ms  ;
    
    /* transition-delay:1000ms ease-in-out; */
    
    cursor: pointer;
}
.content>span{
    color: #E1E1E1;
/* font-family: Poppins; */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.24px;
margin-top: 0.7rem;
}
@media screen and (max-width:451px){
    .content>img{
        width: 64px;
        height: 64px;
        padding-bottom: 0;
    }
    .content>span{
        font-size: 7px;
    }
    .swiperdiv{
        height: 11px;
    }
}
@media  screen and (min-width: 320px) and (max-width: 451px){
    .swiperdiv{
        height: 131px;
    }
}
@media  screen and (min-width: 451px) and (max-width: 600px){
    .content>img{
        width: 100px;
        height: 100px;
    }
    .content>span{
        font-size: 10px;
    }
    .swiperdiv{
        height: 170px;
    }
}
@media  screen and (min-width: 601px) and (max-width: 786px){
    .content>img{
        width: 131px;
        height: 131px;
       
    }
    .content>span{
        font-size: 10px;
    }
    .swiperdiv{
        height: 199px;
    }
}
@media  screen and (min-width: 786px) and (max-width: 920px){
    .content>img{
        width: 100px;
        height: 100px;
    }
    .content>span{
        font-size: 10px;
    }
    .swiperdiv{
        height: 181px;
    }
}
@media  screen and (min-width: 920px) and (max-width: 1024px){
    .content>img{
        width: 134px;
        height: 134px;
    }
    .content>span{
        font-size: 10px;
    }
    .swiperdiv{
        height: 215px;
    }
}
@media  screen and (min-width: 1024px) and (max-width: 1160px){
    .content>img{
        width: 134px;
        height: 134px;
    }
    .content>span{
        font-size: 10px;
    }
    .swiperdiv{
        height: 230px;
    }
}
@media screen and (max-width:786px){
 .container>:nth-child(1){
    font-size:14px ;
    margin-bottom: 1rem;
 }
 /* .swiperdiv{
    height: 131px;
 }
   */
}
