.container{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  padding:  3rem 0;
}
.newhr{
    height: 0.6px;
    width: 100%;
    background-color: #808080;
    opacity: 0.3;
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.8rem;
    background-image: url(../../assets/enquire-bg.svg);
    background-size: cover;
    height: 288px;
}
.div1>:nth-child(1){
    color: #0072EF;

font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.wrap{
    display: flex;
    justify-content: center;
    gap: 2.8rem;
}

.line{
    display: flex;
    gap: 0.7rem;
    align-items: center;
}
.div2{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 3rem;
    padding: 0% 7%;
    
}
.newli{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}
.newli>li{
    list-style: none;
    font-size: 16px;
    cursor: pointer;
     color: #B3B3B3;
}
.newli>li:hover{
    cursor: pointer;
    color: #007AFF;
}
.newli>li{
    position: relative;
}
.newli>li::after{
    content: "";
    position: absolute;
    background-color:  #007AFF ;
    height: 1px;
    width: 0%;
    left: 0;
    bottom: -4px;
}
.newli>li:hover::after{
    width: 62%;
    left: 5%;
}
.div2left>img{
    width: 100%;
    height: 122px;
    margin-top: -1rem;
}

.div2right{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
   
}
.line2{
    display: flex;
    gap: 0.6rem;
    align-items: center;
}
.line2>:nth-child(2){
    width: 300px;
    height: 22px;
    text-align: left;
    font-size: 14px;
    color: #B3B3B3;
}
.line3{
    display: flex;
    gap: 0.6rem;
    align-items: center;
    margin-top: 2.2rem;
    font-size: 14px;
     color: #B3B3B3;
}
.linenew{
    display: flex;
    gap: 0.6rem;
    align-items: center;
    margin-top: 0.7rem;
    font-size: 14px;
     color: #B3B3B3;
}
.linenew>a{
    display: flex;
    gap: 0.6rem;
    align-items: center;
  
    font-size: 14px;
     color: #B3B3B3;
     text-decoration: none;

}
/* .line3>:nth-child(2){
    width: 300px;
    height: 22px;
} */
.line4{
    display: flex;
    gap: 0.7rem;
    margin-left: 2.2rem;
}
.mediawrap,.mediawrap2{
    background-color: #2A2A2A;
    border-radius: 50%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.mediawrap:hover{
    background-color: #007AFF;

}
.mediawrap2:hover{
    background-color: #007AFF;
}
.mediawrap>svg path{
    fill:#0279FC;
}
.mediawrap:hover > svg path{
    fill:black; 
}
.mediawrap2>svg path{
    fill:#0279FC;
}
.mediawrap2:hover > svg path{
    stroke:black; 
    fill: black;
}

.mediawrap:hover > 
/* .mediawrap>svg {
    width: 13px;
} */

.div3>:nth-child(1){
    color: #9F9F9F;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}

.linebtw{
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}
.backtotop{
    background-color: #2A2A2A;
    border-radius: 50%;
    padding: 2% 2%;
    display: flex;
    align-items: center;justify-content: center;
    width: 50px;height: 50px;
}
.div3{
    margin-top: 2rem;
    color: #9F9F9F;
}
@media screen and (max-width:786px){
    .container{
        /* font-size: 5px; */
       padding-left: 0rem;
    }
    .div1{
        background-image: url(../../assets/enquire-bg.svg);
        background-size: cover;
       background-position-x: center;
       height: 122px;
    }
    .div1>:nth-child(1){
        font-size: 14px;
    }
    .div2{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 2rem;
      
    }
    .div2left{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
    }
    .div2right{
        width: 100%;
    }
    .line>span{
        font-size: 10px;
    }
    .line2>:nth-child(2){
        font-size: 10px;
    }
    .line3{
        margin-top: 0.4rem;
    }
    .line3>span{
        font-size: 10px;
    }
    .linenew>span{
        font-size: 10px;
    }
    .linenew>a{
        font-size: 10px;
    }
    .lists>li{
        list-style: none;
        font-size: 10px;
    }
    .lists{
        display: flex;
        justify-content: space-around;
    }
    .mediawrap{
        width: 33px;
        height: 33px;
        padding: 3%;
    }
    .mediawrap2{
        width: 33px;
        height: 33px;
        padding: 3%;
    }

    .mediawrap>img{
        width: 22px;
    }
    .div3>:nth-child(1){
        font-size: 10px; 
       
    }
    .div3{
        margin-top: 4rem;
    }
    .div2middle{position: relative;}
    .newli{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        position: absolute;
        right: -83px;
        top: 206px;
    }
    .newli>li{
        font-size: 12px;
    }
    .ximage {
    width: 15px;
    height: 15px;
}

.newli>li:hover::after{
    width: 62%;
    left: 14%;
}
}