.container{
    background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      padding: 8% 4%;
      background-image: url(../../assets/feature-bg.png);
      background-size: cover;
     
}

.div1{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
}
.div1>:nth-child(1){
    color: #FFF;

font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 78.571% */
}
.div1>:nth-child(2){
    color: #808080;
text-align: center;
/* font-family: Poppins; */
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 32px; /* 128% */
}
.div2{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.set{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 30%; */
    gap: 0.4rem;
}
.set>img{
  height: 50px;
  width: 50px;
}
.box{
    fill: rgba(16, 16, 16, 0.30);
box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.10) inset, 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
backdrop-filter: blur(5px);
    width: 318px;
    height: 179px;
    flex-shrink: 0;
    fill: #0E0E0E;
    backdrop-filter: blur(2px);
    justify-content: center;
 
    align-items: center;
    display: flex;
    padding: 2% 3%;
    /* background: #0E0E0E; */
    

    border-image: linear-gradient(90deg, #007AFF, #00000000) 5;
  


   
  
    border-style: solid;

    /* border-radius: 10px;
    border: double 5px transparent;
    
    background-origin: border-box;
    background-clip: content-box,border-box;
   
 background-image: linear-gradient(#0E0E0E,#0E0E0E),
    linear-gradient(90deg, #007AFF, #00000000);  */

    /* border-top-left-radius: 30px;
    border-bottom-left-radius: 20px;
    border: 1px solid #007AFF;
    border-right: 0; */


   
    
  
  
  
    
    
}
/* .bl{
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 55%;
    left: 0%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
} */
.box>span{
    color: #808080;
text-align: center;

font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 173.333% */
}

@media  screen and (min-width: 820px) and (max-width: 999px){
.set{
    width: 40%;
    margin-top: 2rem;
}
}
@media  screen and (min-width: 999px) and (max-width: 1100px){
.set{
    width: 28%;
    margin-top: 2.5rem;
}
}
@media  screen and (min-width: 1100px) and (max-width: 2200px){
.set{
    width: 30%;
    margin-top: 2.5rem;
}
}
@media screen and (max-width:786px){
    .container{
        width: 100%;
        /* background-color: #ee0e0e; */
        background-image: url(../../assets/feature-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
       background-position-y: center;
    }
    .div1>:nth-child(1){
        font-size: 14px;
    }
    .div1>:nth-child(2){
        font-size: 10px;
        line-height: normal;
    }
    .set{
        width: 50%;
        margin-top: 1rem;
    }
    .set>:nth-child(2){
        font-size: 10px;
    }
    .box{
        width: 80%;
        height: 88px;
        border-image: linear-gradient(90deg, #007AFF, #00000000) 5;
        border-width: 0.7px;
        padding: 0% 3%;
    }
   .box>span{
    font-size: 8px;
    line-height: normal;
   }
}